{% extends "layout.html.twig" %}

{% block title %}Maillots{% endblock %}



{% block content %}
	<div class="row">
		<h1 class="text-center">Liste des maillots</h1>
	</div>
	{% if jerseys|length == 0 %}
		<div class="row">
			<h1 class="text-center">Il n'y a aucun maillot :(</h1>
		</div>
	{% else %}
    <div class="row">
		{% for jersey in jerseys %}
        <div class="col-md-3 col-xs-6 col-sm-4 miniature">
          <a class="thumbnail" href="/jersey/{{ jersey.id }}">
						<img title="{{ jersey.name }}" src="/images/jerseys/{{ jersey.image }}" />
					</a>
        </div>
		{% endfor %}
    </div>
	{% endif %}
{% endblock %}
